<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<head>

    <title>
        Celestial Stationery
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-2 nopadding" id="navbar" style="padding-left: 0px">
                <nav id="sidebar">
                    <div>
                        <h1 class="text-white">Menu<br></h1>
                        <br>
                        <br>
                    </div>
                    <ul class="list-unstyled components">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <!--<li> <a href="#" id="products">Products</a></li>-->
                        <li class="active">
                            <a href="#product" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Products</a>
                            <ul class="collapse list-unstyled text-white" id="product" style="font-size: 12px">
                                <li>
                                    <a href="/products/pens">Pens</a>
                                </li>
                                <li>
                                    <a href="/products/stickers">Stickers</a>
                                </li>
                                <li>
                                    <a href="/products/notes">Notes</a>
                                </li>
                            </ul>
                        </li>
                        <li> <a href="/about" id="about">About</a></li>
                        <li> <a href="/contact_us" id="contact us">Contact Us</a></li>
                        <li> <a href="/order" , id="order">Order now!</a></li>

                    </ul>
                    <div>
                        <form class="form-inline active-purple-3 active-purple-4">
                            <input class="form-control form-control-sm ml-2 w-70 input-group add-on" type="text" placeholder="Search" aria-label="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="fas fa-search" aria-hidden="true"></span></button>
                            </div>
                        </form>

                    </div>
                    <br>
                </nav>
            </div>
            <div class="col-md-8 col-md-8">
                <div class="row">
                    <div class="col-md-12"><img src="/images/ga2.png" class="img-fluid headerimg vcentre"></div>

                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <h3>Celestial Stationery</h3>
                        <p>Welcome to a shop full of unique stationery!</p>
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="container-fluid">
                                <button class="btn btn-light right" type="button" id="sidebarCollapse">
                                    <i class="fas fa-bars"></i>
                                    <!--<span class="navbar-toggler-icon"></span>-->
                                </button>
                            </div>
                        </nav>
                    </div>


                </div>
                <div class="row" style="padding-left: 5%; padding-right: 5%">
                    <div class="col-md-12" id="main">

                        <div class="row">

                            <div class="col-md-4" id="product_1">
                                <a id="link_1" href='/products/{{data.0.short_name}}'>
                                    <img id="img_1" src="{{data.0.image_name}}" class="img-fluid center-block vcentre">
                                </a>

                                <br>
                                <p id="product_1_des">
                                    {{data.0.product_name}}
                                    <br><br> £ {{data.0.price}}

                                </p>
                                <div class="star-rating" id="star_rating_1">
                                    <span class="far fa-star" id="1"></span>
                                    <span class="far fa-star" id="2"></span>
                                    <span class="far fa-star" id="3"></span>
                                    <span class="far fa-star" id="4"></span>
                                    <span class="far fa-star" id="5"></span>

                                </div>
                            </div>
                            <div class="col-md-4" id="product_2">

                                <a id="link_2" href='/products/{{data.1.short_name}}'>
                                    <img src="{{data.1.image_name}}" class="img-fluid center-block vcentre">
                                </a>

                                <br>
                                <p id="product_2_des">
                                    {{data.1.product_name}}
                                    <br><br> £ {{data.1.price}}
                                </p>
                                <div class="star-rating" id="star_rating_2">
                                    <span class="far fa-star" id="1"></span>
                                    <span class="far fa-star" id="2"></span>
                                    <span class="far fa-star" id="3"></span>
                                    <span class="far fa-star" id="4"></span>
                                    <span class="far fa-star" id="5"></span>

                                </div>
                            </div>
                            <div class="col-md-4" id="product_3">
                                <a id="link_3" href='/products/{{data.2.short_name}}'>
                                    <img src="{{data.2.image_name}}" class="img-fluid center-block vcentre">
                                </a>

                                <br>
                                <p id="product_3_des">
                                    {{data.2.product_name}}
                                    <br><br> £ {{data.2.price}}
                                </p>
                                <div class="star-rating" id="star_rating_3">
                                    <span class="far fa-star" id="1"></span>
                                    <span class="far fa-star" id="2"></span>
                                    <span class="far fa-star" id="3"></span>
                                    <span class="far fa-star" id="4"></span>
                                    <span class="far fa-star" id="5"></span>
                                </div>
                            </div>

                        </div><br><br><br><br><br><br>
                        <div class="row">

                            <div class="col-md-4" id="product_4">
                                <a id="link_4" href='/products/{{data.3.short_name}}'>
                                    <img src="{{data.3.image_name}}" class="img-fluid center-block vcentre">
                                </a>

                                <br>
                                <p id="product_4_des">
                                    {{data.3.product_name}}
                                    <br><br> £ {{data.3.price}}
                                </p>
                                <div class="star-rating" id="star_rating_4">
                                    <span class="far fa-star" id="1"></span>
                                    <span class="far fa-star" id="2"></span>
                                    <span class="far fa-star" id="3"></span>
                                    <span class="far fa-star" id="4"></span>
                                    <span class="far fa-star" id="5"></span>

                                </div>
                            </div>
                            <div class="col-md-4" id="product_5">
                                <a id="link_5" href='/products/{{data.4.short_name}}'>
                                    <img src="{{data.4.image_name}}" class="img-fluid center-block vcentre">
                                </a>

                                <br>
                                <p id="product_5_des">
                                    {{data.4.product_name}}
                                    <br><br> £ {{data.4.price}}
                                </p>
                                <div class="star-rating" id="star_rating_5">
                                    <span class="far fa-star" id="1"></span>
                                    <span class="far fa-star" id="2"></span>
                                    <span class="far fa-star" id="3"></span>
                                    <span class="far fa-star" id="4"></span>
                                    <span class="far fa-star" id="5"></span>

                                </div>
                            </div>
                            <div class="col-md-4" id="product_6">
                                <a id="link_6" href='/products/{{data.5.short_name}}'>
                                    <img src="{{data.5.image_name}}" class="img-fluid center-block vcentre">
                                </a>

                                <br>
                                <p id="product_6_des">
                                    {{data.5.product_name}}
                                    <br><br> £ {{data.5.price}}

                                </p>
                                <div class="star-rating" id="star_rating_6">
                                    <span class="far fa-star" id="1"></span>
                                    <span class="far fa-star" id="2"></span>
                                    <span class="far fa-star" id="3"></span>
                                    <span class="far fa-star" id="4"></span>
                                    <span class="far fa-star" id="5"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        
                        <br><br><br><br>
                    </div>

                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
		var $ = jQuery;

		$(document).ready(function () {
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
				$('.collapse.in').toggleClass('in');
				$('a[aria-expanded=true]').attr('aria-expanded', 'false');
				var classes = $('#sidebar').attr('class');
			});

		});

		$(document).ready(function () {
            var list = ["{{data.0.star_rating}}", "{{data.1.star_rating}}","{{data.2.star_rating}}","{{data.3.star_rating}}"]
				for (i = 0; i < '{{length}}'; i++) {
                    var star_rating_id = "#star_rating_" + (i + 1)
					var loop = parseInt(list[i]) + 1;
					for (j = 1; j < loop; j++) {
						$(star_rating_id + " #" + j).removeClass('far').addClass('fas');

					}
            }

            for (i = 6; i > ('{{length}}'); i--) {
                var id = "product_" + (i);
                document.getElementById(id).style.display = "none";
            }
			})

    </script>

</body>
</html>